.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card{
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.container{
  background-color: gray;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;

}